body {
  background-color: rgb(5, 5, 5);
}

h1 {
  text-align: justify;
  text-decoration: underline;
  color: rgb(255, 0 , 060)
}

h2,h3 {
  color: rgb(255, 070, 060);
  text-decoration: italic;
}

a {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 254, 243);
  font-size: 38px;
  text-decoration: none;
  border-radius: 10px;
}

a:hover {
  background-color: rgb(58, 209, 16);
  color: rgb(53, 52, 80);
  font-size: 44px;
  text-decoration: none;
  border-radius: 10px;
}